
[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.tabs {
  display: flex;
  flex-direction: row; /* Change to row for horizontal alignment */
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid black; /* Increased border thickness from 1px to 2px */
  background-color: #f1f1f1;
  width: auto; /* Auto width */
}

.tab {
  cursor: pointer;
  padding: 10px 15px;
  border-right: 2px solid #ddd; /* Increased border thickness from 1px to 2px */
}

.tab.active {
  background-color: #ccc;
}

.tab:hover {
  background-color: #AAA;
}

.tab-content {
  padding: 20px;
}
