<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
    </style>
    <body>
          <div>
              <ul>
                  <li><a href="home.html">Home</a></li>
                  <li><a href="data.html">Data</a></li>
                  <li><a href="about.html">About</a></li>
              </ul>
            </div>
      </ul>
    </div>
    </body>
</html>
