
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="leftMenu">
        <button onclick="closeLeftMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
        <a href="/" class="w3-bar-item w3-button">Home</a>
        <a href="/data" class="w3-bar-item w3-button">Data</a>
        <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>

    <div class="w3-teal">
        <button class="w3-button w3-teal w3-xlarge w3-left" onclick="openLeftMenu()">&#9776;</button>
        <div class="w3-container">
            <h1>Data</h1>
        </div>
    </div>

    <div class="w3-container">
        <div class="histogram-container">
            <h2>Data Histogram</h2>
            <img src="data:image/png;base64,{{ plot_url }}" alt="Histogram">
        </div>
      <h3>Histogrammā ir redzams kadā vecuma grupā cilvēki ir aizpildījuši mūsu anketu.</h3>
        <div class="table-container" style="margin-left: 30px;">
            <h2>Cik stundas vidēji guļ?</h2>
            <table class="w3-table w3-striped w3-bordered" style="width: 200px;">
                <tr>
                    <th>Stundas</th>
                    <th>Cik daudz</th>
                </tr>
                {% for value, count in value_counts %}
                <tr>
                    <td>{{ value }}</td>
                    <td>{{ count }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="table-container" style="margin-left: 30px; margin-top: 30px;">
            <h2>Cik bieži jums ir grūtības iemigt?</h2>
            <table class="w3-table w3-striped w3-bordered" style="width: 400px;">
                <tr>
                    {% for category, count in horizontal_data.items() %}
                    <th>{{ category }}</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for category, count in horizontal_data.items() %}
                    <td>{{ count }}</td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</body>
</html>