
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
    <body>
        <div>
      <ul class="tabs">
          <li data-tab-target="#home" class="active tab">Sākums</li>
          <li data-tab-target="#data" class="tab">Data</li>
          <li data-tab-target="#about" class="tab">Par mums</li>
      </ul>
    </div>
    <div class="tab-content">
      <div id="home" data-tab-content class="active">
          <h1>Projekta darbs</h1>
          <h4>Šajā mājas lapā ir apkopoti tadi par to kāds ir civēku miega grafiks.</h4>
          <h5>Sākuma sadaļa ir maza informācija par to kas ir apkopots datu sadaļā</h5>
          <p>Kuras vecuma grupas aizpildīja anketu</p>
      </div>
      <div id="data" data-tab-content>
          <h1>Iegūtie dati</h1>
          <p></p>
      </div>
      <div id="about" data-tab-content>
          <h1>About</h1>
      </div>
    </div>
    </body>
</html>
